@import "tailwindcss";

@import "./header.css";
@import "./footer.css";
@import "./main-hero.css";
@import "./main-for-you.css";
@import "./main-for-your-business.css";
@import "./main-advantages.css";
@import "./page.css";

@import "./custom-animation.css";

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}
