#for-your-business {
    background-image: url("/images/index/for-your-business-bg.webp");
    @apply bg-cover bg-center bg-no-repeat;
}

#for-your-business #for-your-business-container {
    @apply container mx-auto pt-24 px-8;
}

#for-your-business #for-your-business-container img {
    @apply xl:w-3/5 translate-y-[3rem];
}

#for-your-business #for-your-business-content {
    @apply xl:pb-24 xl:w-2/5;
}

#for-your-business h2 {
    @apply 
    text-5xl
    lg:text-6xl 
    font-black 
    text-orange-950 
    tracking-tight 
    xl:w-2/3
    mb-8
    xl:mb-0
    text-center
    xl:text-left;
}

#for-your-business h2 small {
    @apply text-orange-500 leading-10 inline-block;
}

#for-your-business section {
    @apply xl:flex gap-16 items-end;
}

#for-your-business #for-your-business-content p {
    @apply text-base mb-6 text-center xl:text-left;
}

#for-your-business #for-your-business-content p:last-of-type {
    @apply mb-10 xl:mb-16;
}

#for-your-business #for-your-business-content p strong {
    @apply text-orange-500;
}

#for-your-business #for-your-business-content .custom-button {
    @apply bg-orange-500 text-white px-8 py-4 rounded-full font-bold border-2 border-transparent transition-all duration-300 block w-fit mx-auto md:inline-block md:mx-0;
}

#for-your-business #for-your-business-content .custom-button:hover {
    @apply text-black transition-all duration-300 bg-transparent border-2 border-orange-500;
}
